* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: rgb(192, 57, 181);
    --purple: rgb(78, 0, 97);
    --btn-font: rgb(233, 233, 233);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

aside {
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
    margin: 15px;
}

main {
    flex-direction: column;
    font-size: 30px;
    margin: 3%;
}

.flex {
    display: flex;
}

.btn{
    border-radius: 10px;
    background-color: var(--purple);
    color: var(--btn-font);
    font-size: 25px;
    padding: 8px 18px;
    border-style: none;
    margin: 10px;
}


/* ASIDE */
.hs-btn {
    border: none;
    padding: 0;
    background: none;
    font-size: 30px;
    color: var(--pink);
}

/* START PAGE */
.start {
    align-items: center;
}

.s-title, .s-p, .sq-btn {
    margin: 20px;
}

.s-p {
    margin: 20px 20%;
    text-align: center;
}

/* QUIZ PAGE */
.quiz {
    margin: 8% 10%;
}

.result {
    border-top: 2px solid;
    padding-top: 5px;
    color: gray;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 10px 0;
}

/* DONE PAGE  */
.done {
    margin: 5% 30%;
}

.ini-form {
    border-radius: 10px;
    padding: 5px 15px;
}

/* HIGH SCORES PAGE */
.hs {
    margin: 5% 30%;
}
.scores {
    background-color: var(--pink);
}
